h1{
            color:rgb(17, 69, 224);
            font-size:50px;
            text-align:center;
            font-style:italic;
        }
p{
            color:rgb(236, 19, 19);
            font-size: 30px;
            font-weight:bold;
        }
div{
            background-color:beige;
            border:5px;
            height:1000px;
            width:1560px;
            padding:2%;
            border: 10px solid black;
        }